/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* цвет акцента #2196f3 */
/* белый #ffffff */
/* вторичный цвет фона #f5f4fa */

:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --white: #ffffff;
  --secondary-bgc: #f5f4fa;
  --third-bgc: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

.link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.current {
  color: var(--accent-color);
}

.button {
  cursor: pointer;
}

/* index.html */

/* header */

.black-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

.blue-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.nav-list .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}

.contact-list .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--accent-color);
}

/* main */

/* hero */
.hero {
  background-color: var(--third-bgc);
}

.hero .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}

.hero .button {
  color: var(--white);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.hero .button:hover,
.hero .button:focus {
  color: var(--accent-color);
  background-color: var(--white);
}

/* features */

.feature-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.feature-list .text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-text-color);
}

/* serices */

.services .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--primary-text-color);
}

/* our team */

.team {
  background-color: var(--secondary-bgc);
}

.team .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--primary-text-color);
}

.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

.team-list .text {
  font-size: 16px;
  line-height: 1.19;
  color: var(--second-text-color);
}

/* footer */

.footer {
  background-color: var(--third-bgc);
}

.white-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white);
}

.footer-address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  color: var(--white);
}

.footer-contacts {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

/* portfolio.html */

/* filter buttons */
.button-list .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--secondary-bgc);
}

.button-list .button:hover,
.button-list .button:focus {
  color: var(--white);
  background-color: var(--accent-color);
}

.work-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.work-list .text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-text-color);
}
